:root {
    /* Brand */
    --p-primary-color: rgb(63, 98, 203);
    --p-primary-600: rgb(63, 98, 203);

    --p-secondary-color: rgb(75, 85, 99);
    --p-secondary-600: rgb(75, 85, 99);

    /* Buttons */
    --p-button-primary-color: rgb(221, 232, 245);
    --p-button-secondary-color: rgb(234, 238, 244);

    /* Layout */
    --color-dark-pane: white;
}

html.light {
    /* Core */
    --text-color: #222;
    --back-color: #fdfdfd;
    --lighter-back-color: #fff2f2;
    --selected-background: dodgerblue;
    --border-color: rgba(211, 211, 211, 0.516);
    --odd-back-color: #fff2f2;

    /* Bootstrap */
    --bs-body-color: #fffafa;
    --bs-body-color-transp: #fffafa00;

    /* Prime */
    --p-panel-color: var(--text-color);
    --p-panel-header-color: var(--text-color);
    --p-content-background: var(--back-color);
    --p-content-color: var(--text-color);

    /* Buttons */
    --p-button-primary-background: dodgerblue;
    --p-button-primary-border-color: darkblue;
    --p-button-primary-hover-background: cornflowerblue;
    --p-button-primary-hover-border-color: dodgerblue;
    --p-button-primary-hover-color: darkblue ;
    --p-button-primary-active-color:white;

    --p-button-secondary-background: dodgerblue;
    --p-button-secondary-border-color: rgb(2, 2, 23);
    --p-button-secondary-hover-background: rgb(231, 234, 237);
    --p-button-secondary-hover-border-color: rgb(98, 98, 98);
    --p-button-secondary-hover-color: rgb(43, 43, 43);
    --p-button-secondary-active-color: lightgrey;

    /* Toggle Buttons */
    --p-togglebutton-background: var(--back-color);
    --p-togglebutton-border-color: var(--border-color);
    --p-togglebutton-checked-background: var(--back-color);
    --p-togglebutton-checked-border-color: var(--border-color);

    /* Toggle Button checked */
    --p-togglebutton-content-checked-background: var(--selected-background);

    /* Dialog*/
    --p-dialog-background: var(--back-color);

    /* DataTable */
    --p-datatable-border-color: var(--border-color);

    /* Forms */
    --field-background-color: #fafafa;
    --field-border-color: #e0e0e072;

    /* Select */
    --p-select-background: var(--back-color);
    --p-select-color: var(--text-color);

    /* Split panels */
    --split-background-color-1: #ac9ad2;
    --split-background-color-2: #6294d1;

    /* Misc */
    --hr-border-color: #c1c1c1;
    --dark-pane: #b5a4d8;
}

html.dark {
    /* Core */
    --text-color: #b9b9b9;
    --back-color: #222;
    --lighter-back-color: #3a3a3a;
    --selected-background: #3f62cb; // rgb(79, 73, 119);
    --border-color: #a0a0a077;
    --odd-back-color: #131313;

    /* Bootstrap */
    --bs-body-color: #1e2a40;
    --bs-body-color-transp: #1e2a4000;

    /* Prime text */
    --dark-mode-text: rgb(158, 158, 205);
    --p-inputtext-color: var(--dark-mode-text);
    --p-listbox-color: var(--dark-mode-text);
    --p-textarea-color: var(--dark-mode-text);
    --p-select-color: var(--dark-mode-text);

    --p-togglebutton-checked-color: var(--dark-mode-text);

    /* Prime layout */
    --p-panel-color: var(--text-color);
    --p-panel-header-color: var(--text-color);
    --p-content-background: var(--back-color);
    --p-content-color: var(--text-color);

    /* Buttons */
    --p-button-primary-background: rgb(86, 117, 147);
    --p-button-primary-border-color: rgb(0, 51, 92);
    --p-button-primary-hover-background: #ffffff;

    /* Toggle Buttons */
    --p-togglebutton-background: var(--back-color);
    --p-togglebutton-border-color: var(--border-color);
    --p-togglebutton-checked-background: var(--back-color);
    --p-togglebutton-checked-border-color: var(--border-color);

    /* Toggle Button checked */
    --p-togglebutton-content-checked-background: var(--selected-background);

    /* Dialog*/
    --p-dialog-background: var(--back-color);

    /* DataTable */
    --p-datatable-border-color: var(--border-color);

    /* Forms */
    --field-background-color: #1d1e21;
    --field-border-color: #121212;

    /* Select */
    --p-select-background: var(--back-color);
    --p-select-color: var(--text-color);

    /* Split panels */
    --split-background-color-1: #212138;
    --split-background-color-2: #002b63;

    /* Misc */
    --hr-border-color: #767676;
    --dark-pane: #252426;
}

html.dark {
    .card {
        label {
            color: #5c5c5c;
        }
    }

    .p-fileupload-basic-content {
        color: var(--dark-mode-text)
    }
}

.banner-overlay {
    background: linear-gradient(0deg, var(--bs-body-color) 0%, var(--bs-body-color) 50%, var(--bs-body-color-transp) 100%) !important;
}

.p-menubar,
.p-menu {
    background-color: var(--back-color);

    *[role="menu"],
    *[role="menu-item"] {
        background-color: var(--back-color);
    }

    .p-menubar-item-content:hover {
        background-color: var(--p-button-primary-hover-background);
    }
}

body {
    background: var(--bs-body-color);
    color: var(--text-color);
}

span {
    color: var(--text-color);
}

.card {
    background-color: var(--back-color);
    color: var(--text-color);
}

.p-divider-content {
    background-color: var(--back-color);
    color: var(--text-color);
}

.split-background {
    background: var(--split-background-color-1);
    background: linear-gradient(225deg, var(--split-background-color-2) 0%, var(--split-background-color-2) 50%, var(--split-background-color-1) 50%) !important;
}