.sideway-title {
    writing-mode: sideways-lr;
    text-orientation: mixed;
    text-transform: uppercase;
    font-weight: 900;
}

.upside-title {
    text-transform: uppercase;
    font-weight: 900;
}