.banner-image {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #333;

    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;

    img {
        width: 100%;
        height: unset;
    }
}

.banner-overlay {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    background: #ffffff;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.70) 50%, rgba(255, 255, 255, 0) 100%);
}

.p-fileupload {
    width: fit-content;
}

.send-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
        border: 1px solid white;
        background-color: #33333377;
        margin: 0;
    }
}

.profile-picture {
    img {
    }
}